.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  line-height: 1;
  background: #fff;
  font-size: 16px;
  border-radius: 4px;
  &.active {
    background: rgba(246, 246, 246, 0.9);
  }
  .countFormat {
    margin-right: 4px;
    font-size: 16px !important;
  }
}

.font20 {
  font-size: 20px;
}

.myBtn {
  --border-radius: 4px;
  --padding-top: 10px;
  --padding-bottom: 10px;
  min-height: auto !important;
  .btnFlex {
    --background-hover: #9ce0be;
    --background-activated: #88f4be;
    --background-focused: #88f4be;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.mySvg {
  margin-left: 5px;
  height: 16px;
}
