<div class="header mb10">
  <img src="assets/img/single.png" alt="" class="caishen" />
</div>
<div class="content">
  <ion-button fill="clear" id="click-trigger" size="small" class="custom-button mb10">
    <div class="bold">Send 🧧 to</div>
    <ion-icon slot="end" name="help-circle-outline"></ion-icon>
  </ion-button>
  <ion-popover trigger="click-trigger" triggerAction="click">
    <ng-template>
      <ion-content class="ion-padding">文案解釋説明文案解釋説明文案解釋説明文案解釋説明文案解釋説明</ion-content>
    </ng-template>
  </ion-popover>

  <form [formGroup]="form">
    <div class="mb6 bold">FPS ID</div>
    <div class="form-group ion-margin-bottom">
      <input type="text" formControlName="name" required class="custom-input  form-control" />
    </div>

    <div class="mb6 bold">Payee Name</div>
    <div class="ion-margin-bottom">{{form.get('payee')?.value}}</div>

    <div class="mb6 bold">Beneficiary Bank</div>
    <div class="form-group ">
      <input type="text" formControlName="bank" class="custom-input  form-control"
        placeholder="Default Receiving Bank" />
    </div>
    <ion-button fill="clear" id="click-trigger" size="small" class="custom-button ion-margin-bottom font12" disabled>
      <ion-icon name="sunny-outline" color="laisee"></ion-icon>
      The fund transfer instruction will be executed in real time.
    </ion-button>
  </form>

  <ion-button expand="full" shape="round" color="laisee" class="next-btn" (click)="goNext()">Next</ion-button>
</div>