// step所有的樣式都寫在這裏
:host ::ng-deep {
  // step1 - css
  ion-content {
    --background: url("../../assets/img/bg.png") #fff7f0 no-repeat center center /
      cover;
  }

  .bold {
    font-weight: bold;
  }

  .header {
    position: relative;
    height: 180px;
  }
  .caishen {
    position: absolute;
    width: 205px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .custom-button {
    --color: inherit; /* 使按钮的颜色继承父元素的颜色 */
    --padding-start: 0;
    margin-inline: 0;
    font-size: 16px;
  }

  .custom-input {
    width: 100%;
    border: 1px solid #999;
    border-radius: 4px;
    background-color: #ffefef;
    padding: 6px 8px;
    font-size: 14px;

    &[disabled] {
      background-color: #f7f7f7;
      border: none;
    }
  }

  .error-text {
    font-size: 12px;
  }

  .sent-checkbox {
    ion-checkbox {
      --size: 24px;
      --checkbox-background-checked: #ce005a;
    }

    ion-checkbox::part(container) {
      border: 1px solid #ce005a;
    }
  }

  .contacts {
    background-color: #ce005a;
    margin: 0 -16px;
    padding: 8px 16px;
    color: #fff;
  }
  .contacts-list {
    margin-bottom: 40px;
    color: #ccc;
  }

  .next-btn {
    margin-bottom: 40px;
  }

  .accordion-group {
    margin: 0 -16px 40px;
    // 手風琴圖標
    ion-item::part(native) {
      background-color: #fffff7;
      color: #da5173;

      &::after {
        background-color: #fffff7;
        opacity: 0;
      }
    }
    // 手風琴文字
    .sc-ion-label-ios-h {
      color: #333;
    }

    [slot="content"] {
      background: #fffff7;
      color: #666;
      padding: 10px;
    }
  }

  // step2 - css

  .remarks {
    display: flex;
  }

  .mb10 {
    margin-bottom: 10px;
  }

  .mb20 {
    margin-bottom: 20px;
  }
}
