<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title collapse="condense">Sent Laisee</ion-title>

    <ion-buttons slot="secondary">
      <ion-button (click)="goBack()" color="medium">
        <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button id="open-toast" color="medium">
        <ion-icon slot="end" name="close-outline"></ion-icon>
      </ion-button>
      <ion-toast trigger="open-toast" position="middle" message="關閉，該提示3秒后消失" [duration]="3000"></ion-toast>
    </ion-buttons>
    <ion-progress-bar [value]="progress/3" color="laisee"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ng-container [ngSwitch]="currentStep">
    <!--
      按照UI圖3步設計，前端頁面不好劃分
      1-4 是 progress1
      5 是 progress2
      6 是 progress3
    -->
    <app-step1 *ngSwitchDefault (nextStep)="nextStep($event)" [form]="form"></app-step1>
    <app-step2 *ngSwitchCase="2" (nextStep)="nextStep($event)" [form]="form"></app-step2>
    <app-step3 *ngSwitchCase="3" (nextStep)="nextStep($event)" [form]="form"></app-step3>
    <app-step4 *ngSwitchCase="4" (nextStep)="nextStep($event)" [form]="form"></app-step4>

    <!-- progress2 -->
    <app-step5 *ngSwitchCase="5" (nextStep)="nextStep($event)" [form]="form"></app-step5>
    <app-step6 *ngSwitchCase="6" (nextStep)="nextStep($event)"></app-step6>

    <!-- progress3 -->
    <app-step7 *ngSwitchCase="7" (nextStep)="nextStep($event)" [form]="form"></app-step7>
  </ng-container>

  <ion-accordion-group class="accordion-group" color="laisee" *ngIf="currentStep!==7">
    <ion-accordion>
      <ion-item button detail lines="full" slot="header">
        <ion-label>Remarks</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-grid>
          <ion-row *ngFor="let i of [1, 2, 3]">
            <ion-col size="1">{{ i }}.</ion-col>
            <ion-col>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Consequuntur hic cum ullam recusandae voluptatum, labore culpa
              aliquam nemo magni modi.</ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-accordion>
  </ion-accordion-group>

  <!-- <div>
    demo展示，與本頁内容無關
  </div>
  <ion-button (click)="nextStep(-1)" size="small">上一步</ion-button>
  <ion-button (click)="nextStep(1)" size="small">下一步</ion-button>
  <ion-button [routerLink]="['/folder/demo']" size="small">Go to folder/demo</ion-button> -->
</ion-content>