<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title collapse="condense">sent-laisee</ion-title>
    <ion-buttons slot="start">
      <ion-icon name="chevron-back-outline" (click)="goBack()"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon name="close-outline" id="open-toast"></ion-icon>
      <ion-toast trigger="open-toast" position="middle" message="關閉，該提示3秒后消失" [duration]="3000"></ion-toast>
    </ion-buttons>
    <ion-progress-bar [value]="currentStep/4" color="laisee"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ng-container>
    <app-step1 *ngIf="currentStep === 1" (nextStep)="nextStep($event)" [form]="form"></app-step1>
    <app-step2 *ngIf="currentStep === 2" (nextStep)="nextStep($event)" [form]="form"></app-step2>
    <app-step3 *ngIf="currentStep === 3" (nextStep)="nextStep($event)" [form]="form"></app-step3>
    <!-- <app-step4 *ngIf="currentStep === 4" (nextStep)="nextStep($event)" [form]="form"></app-step4> -->
  </ng-container>

  <ion-accordion-group class="accordion-group" color="laisee">
    <ion-accordion>
      <ion-item button detail lines="full" slot="header">
        <ion-label>Remarks</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-grid>
          <ion-row *ngFor="let i of [1, 2, 3]">
            <ion-col size="1">{{ i }}.</ion-col>
            <ion-col>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Consequuntur hic cum ullam recusandae voluptatum, labore culpa
              aliquam nemo magni modi.</ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-accordion>
  </ion-accordion-group>

  <div>
    demo展示，與本頁内容無關
  </div>
  <ion-button (click)="nextStep(-1)" size="small">上一步</ion-button>
  <ion-button (click)="nextStep(1)" size="small">下一步</ion-button>
  <ion-button [routerLink]="['/folder/demo']" size="small">Go to folder/demo</ion-button>
</ion-content>