<div class="header mb10">
  <img src="assets/img/caishen.png" alt="" class="caishen" />
</div>

<div class="content">
  <ion-button fill="clear" id="click-trigger" size="small" class="custom-button mb10">
    <div class="bold">Send 🧧 to</div>
    <ion-icon slot="end" name="help-circle-outline"></ion-icon>
  </ion-button>
  <ion-popover trigger="click-trigger" triggerAction="click">
    <ng-template>
      <ion-content class="ion-padding">文案解釋説明文案解釋説明文案解釋説明文案解釋説明文案解釋説明</ion-content>
    </ng-template>
  </ion-popover>


  <form [formGroup]="form">
    <div class="form-group">
      <input type="text" formControlName="name" required class="custom-input form-control mb10" color="laisee"
        placeholder="Phone No., Payee Name, Email or FPS ID" />


      <div *ngIf="name?.errors; else elseBlock" class="alert">
        <ion-text [hidden]="name?.valid || name?.pristine" color="danger" class="font12">Please enter a valid mobile
          no. / email address /FPS ID/ Beneficiary
          Name</ion-text>
      </div>
      <ng-template #elseBlock>
        <div class="sent-checkbox ">
          <div *ngFor="let item of checkboxOptions" class="checkbox-item"><ion-checkbox labelPlacement="end"
              [checked]="item.checked" disabled>{{item.label}}</ion-checkbox></div>
        </div>
      </ng-template>

      <!-- 提示文本，因爲設計圖 -->
      <ion-button fill="clear" id="click-trigger" size="small" class="custom-button font12 mb20" disabled>
        <ion-icon name="sunny-outline" color="laisee"></ion-icon>
        For Phone No, include Country / Area Code
      </ion-button>
    </div>
  </form>


  <div class="contacts" id="open-action-sheet">Contacts</div>
  <div class="contacts-list">
    <ion-action-sheet trigger="open-action-sheet" header="Contacts" [buttons]="actionSheetButtons"
      (willDismiss)="setValue($event)"></ion-action-sheet>
  </div>

  <ion-button expand="full" shape="round" color="laisee" class="next-btn" [disabled]="!datavalid"
    (click)="goNext()">Next</ion-button>


  <ion-toast [isOpen]="isToastOpen" message="沒有該用戶的信息！" color="danger" position="middle" [duration]="5000"
    (didDismiss)="isToastOpen = false"></ion-toast>

</div>