<div class="header mb10">
  <img src="assets/img/caishen.png" alt="" class="caishen" />
</div>

<div class="content">
  <ion-button fill="clear" id="click-trigger" size="small" class="custom-button mb10">
    <div class="bold">Send 🧧 to</div>
    <ion-icon slot="end" name="help-circle-outline"></ion-icon>
  </ion-button>
  <ion-popover trigger="click-trigger" triggerAction="click">
    <ng-template>
      <ion-content class="ion-padding">文案解釋説明文案解釋説明文案解釋説明文案解釋説明文案解釋説明</ion-content>
    </ng-template>
  </ion-popover>


  <form [formGroup]="form">
    <div class="form-group">
      <input type="text" formControlName="name" required class="custom-input mb10 form-control" color="laisee"
        placeholder="Phone No., Payee Name, Email or FPS ID" />
      <div *ngIf="name?.errors; else elseBlock" class="alert">
        <ion-text [hidden]="name?.valid || name?.pristine" color="danger" class="error-text">Please enter a valid mobile
          no. / email address /FPS ID/ Beneficiary
          Name</ion-text>
      </div>
      <ng-template #elseBlock>
        <div class="sent-checkbox">
          <ion-grid>
            <ion-row>
              <ion-col *ngFor="let item of checkboxOptions"><ion-checkbox labelPlacement="end" [checked]="item.checked"
                  disabled>{{item.label}}</ion-checkbox></ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ng-template>
    </div>
  </form>

  <ion-button fill="clear" id="click-trigger" size="small" class="custom-button mb10" disabled>
    <ion-icon name="sunny-outline" color="laisee"></ion-icon>
    For Phone No, include Country / Area Code
  </ion-button>

  <div class="contacts" id="open-action-sheet">Contacts</div>
  <div class="contacts-list">

    <!-- <ion-grid>
      <ion-row *ngFor="let i of contacts">
        <ion-col (click)="form.setValue({name:i.value})">{{ i.label }}: {{i.value}}</ion-col>
      </ion-row>
    </ion-grid> -->
    <ion-action-sheet trigger="open-action-sheet" header="Contacts" [buttons]="actionSheetButtons"
      (willDismiss)="form.setValue({name:$event.detail.data})"></ion-action-sheet>
  </div>

  <ion-button expand="full" shape="round" color="laisee" class="next-btn" [disabled]="!datavalid"
    (click)="nextStep.emit(1)">Next</ion-button>


</div>