<div class="content">
  <ion-button fill="clear" id="click-trigger" size="small" class="custom-button mb10">
    <div class="bold">Confirmation</div>
    <ion-icon slot="end" name="help-circle-outline"></ion-icon>
  </ion-button>
  <ion-popover trigger="click-trigger" triggerAction="click">
    <ng-template>
      <ion-content class="ion-padding">文案解釋説明文案解釋説明文案解釋説明文案解釋説明文案解釋説明</ion-content>
    </ng-template>
  </ion-popover>

  <form [formGroup]="form">
    <div class="full-width ion-text-center" *ngIf="blessing">
      <div class="blessing-title">Blessing</div>
      <div>{{blessing}}</div>
    </div>

    <!-- 表單確認信息表 -->
    <div class="form-info font12">
      <div class="form-left">send 🧧 to</div>
      <div class="form-right ion-text-end">
        <div>Suspicious 模擬**</div>
        <div class="colorccc">{{formValue.name}}</div>
      </div>
    </div>
    <div class="form-info font12">
      <div class="form-left">From</div>
      <div class="form-right ion-text-end">
        <div>VIP i-Account Multi-CurrencyCurrentAccount</div>
        <div class="colorccc">{{formValue.account}}</div>
      </div>
    </div>
    <div class="form-info font12">
      <div class="form-left">Beneficiary Bank</div>
      <div class="form-right ion-text-end">
        <div>{{formValue.bank || 'Default Receiving Bank'}}</div>
      </div>
    </div>
    <div class="form-info font12">
      <div class="form-left">Amount</div>
      <div class="form-right ion-text-end">
        <div>{{formValue.currency}} {{(formValue.amount * formValue.count).toFixed(2)}}</div>
      </div>
    </div>
    <div class="form-info font12">
      <div class="form-left">Service Charges</div>
      <div class="form-right ion-text-end">
        <div>Free</div>
      </div>
    </div>
    <div class="form-info font12">
      <div class="form-left">Transfer Method</div>
      <div class="form-right ion-text-end">
        <div>FPS</div>
      </div>
    </div>
    <div class="form-info font12">
      <div class="form-left">Transfer Limit Type</div>
      <div class="form-right ion-text-end">
        <div>Small-value Transfer</div>
      </div>
    </div>
    <div class="form-info font12">
      <div class="form-left">Transfer Date</div>
      <div class="form-right ion-text-end">
        <div>Now({{nowDate}})</div>
      </div>
    </div>
    <div class="terms font12 color999">
      <div class="mb10">Terms and Conditions</div>
      <div class="color999">
        I confirm that I have read, agreed and understood the <span class="colorlaisee bold">Terms and Conditions for
          "FPS"
          Services</span>. Besides, I agree
        to receive such terms and conditions in non-paper based format, and understand that I shall download and store
        the relevant document via the above hyperlink for future reference.
      </div>
    </div>
  </form>

  <ion-button expand="full" shape="round" color="laisee" class="next-btn" (click)="goNext()">Confirm & Share your
    blessing</ion-button>
</div>